%h1 Games

= link_to 'Create new game', new_game_path, :class => 'button'

%table
  %thead
    %tr
      %th
        Location
      %th
        Played On
  %tbody
    - @games.each do |game|
      %tr
        %td
          = link_to game.location.name, game_path(game)
        %td
          = game.on.strftime('%d %b %Y')

