table
  width: 100%
  border-spacing: 0px
  padding: 10px 0

  thead
    th
      background: #ccc
      border-top: solid 1px #666
      border-bottom: solid 1px #666

  tbody
    padding-bottom: 10px
    td
      border-bottom: solid 1px #bbb

      .actions
        float: right

  td
    padding: 5px 10px
